{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
      <i class="fas fa-plus fa-sm text-white-50"></i> Crear Nuevo Usuario
    </button>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Lista de Usuarios</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table-responsive display" id="usersTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Foto</th>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Teléfono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Crear Nuevo Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" id="userForm" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            {{ form.name.label_tag }} {{ form.name }}
          </div>
          <div class="form-group">
            {{ form.lastname.label_tag }} {{ form.lastname }}
          </div>
          <div class="form-group">
            {{ form.email.label_tag }} {{ form.email }}
          </div>
          <div class="form-group">
            {{ form.phone.label_tag }} {{ form.phone }}
          </div>
          <div class="form-group">
            {{ form.avatar.label_tag }} {{ form.avatar }}
          </div>
          <div class="form-group">
            {{ form.groups.label_tag }} {{ form.groups }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn btn-primary">Crear Usuario</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Edición -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
              {{ form.name.label_tag }}
              {{ form.name }}
          </div>
          <div class="form-group">
              {{ form.lastname.label_tag }}
              {{ form.lastname }}
          </div>
          <div class="form-group">
              {{ form.email.label_tag }}
              {{ form.email }}
          </div>
          <div class="form-group">
              {{ form.phone.label_tag }}
              {{ form.phone }}
          </div>
          <div class="form-group">
              {{ form.avatar.label_tag }}
              {{ form.avatar }}
          </div>
          <div class="form-group">
              {{ form.groups.label_tag }}
              {{ form.groups }}  <!-- Aquí se debe renderizar el select múltiple -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" id="saveChangesButton" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Eliminación -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar la usuario?</p>
        <form id="delete-task-form" method="post">
          {% csrf_token %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" id="confirmChangeStatus" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reactivateModal" tabindex="-1" role="dialog" aria-labelledby="reactivateModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reactivar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas reactivar el usuario ?</p>
        <form method="post" id="reactivate-task-form">
          {% csrf_token %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" id="confirmReactivateStatus" class="btn btn-success">Reactivar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script>

  function hideModalEdit() {
    $('#editModal').modal('hide');
    usersTable.clear().rows.add(users).draw();
  }

  function hideModalCreate() {
    $('#createModal').modal('hide');
    usersTable.clear().rows.add(users).draw();
  }

  function hideModalDelete() {
    $('#deleteModal').modal('hide');
    usersTable.clear().rows.add(users).draw();
  }

  function hideModalReactivate() {
    $('#reactivateModal').modal('hide');
    usersTable.clear().rows.add(users).draw();
  }

  $(document).ready(function () {
    let usersTable;
    let users;

    // Inicializa el DataTable
    axios
      .get('/api/v1/users/')
      .then((response) => {
        users = response.data;

        // Obtener la referencia de la tabla
        usersTable = $('#usersTable').DataTable({
          paging: true,
          data: users,
          columns: [
            {
              data: 'avatar',
              className: 'text-center',
              render: function (data) {
                return data
                  ? `<img src="${data}" alt="Avatar" class="img-profile rounded-circle" style="width: 50px; height: 50px;">`
                  : `<img src="{% static 'sb-admin/img/undraw_profile.svg' %}" alt="Avatar" class="img-profile rounded-circle" style="width: 50px; height: 50px;">`;
              },
            },
            { data: 'id', className: 'text-center' },
            { data: 'name', className: 'text-center' },
            { data: 'lastname', className: 'text-center' },
            { data: 'email', className: 'text-center' },
            { data: 'phone', className: 'text-center' },
            {
              data: null,
              render: function (data, type, row) {
                if (row.enabled) {
                  return `
                <button type="button" class="btn btn-warning btn-circle btn-sm mx-1 edit-btn" data-user-id="${row.id}" data-toggle="modal" data-target="#editModal" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                  <a href="/users/detail_api/${row.id}/" class="btn btn-info btn-circle btn-sm mx-1" title="Detalles">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                <button type="button" class="btn btn-danger btn-circle btn-sm mx-1 delete-btn" data-user-id="${row.id}" data-toggle="modal" data-target="#deleteModal" title="Eliminar">
                    <i class="fas fa-trash"></i>
                </button>`;
                } else {
                  return `
                                <button type="button" class="btn btn-success btn-circle btn-sm mx-1" data-toggle="modal" data-user-id="${row.id}" data-target="#reactivateModal">
                                    <i class="fas fa-redo"></i>
                                </button>
                                <a href="/users/detail_api/${row.id}/" class="btn btn-info btn-circle btn-sm mx-1" title="Detalles">
                                    <i class="fas fa-info-circle"></i>
                                </a>`;
                }
              },
            },
          ],
          language: {
            url: "{% static 'datatable/spanish-plugin.json' %}",
          },
        });
      })
      .catch((error) => console.error('Error al cargar los datos de usuarios:', error));

    // Configura el evento de clic para el botón de edición
    $('#usersTable').on('click', '.edit-btn', function () {
      const userId = $(this).data('user-id');
      if (userId) {
        $('#editModal').data('user-id', userId); // Guarda el userId en el modal
        llenarModal(userId);  // Llama a la función para llenar el modal con el ID capturado
      } else {
        console.error('El userId es undefined');
      }
    });
    
      $('#saveChangesButton').click(function () {
        const userId = $('#editForm').data('user-id'); // Asegúrate de que el ID de usuario está disponible
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        if (!userId) {
            alert('Error: ID de usuario no encontrado.');
            return; // Detiene la ejecución si no hay userId
        }
    
        // Crea un objeto FormData
        const formData = new FormData($('#editForm')[0]); // Asegúrate de que 'editForm' sea el ID del formulario que estás utilizando
    
        // Utiliza Axios para hacer la solicitud PUT
        axios.put(`/api/v1/users/${userId}/`, formData, {
            headers: {
                'Content-Type': 'multipart/form-data', // Asegúrate de que el tipo de contenido sea el correcto
                'X-CSRFToken': csrftoken, // Token CSRF en el encabezado correcto
            }
        })
        .then(function (response) {
            hideModalEdit(); // Asegúrate de tener definida esta función
            alert('Usuario editado con éxito.');
            // Recarga la tabla si es necesario
            $('#usersTable').DataTable().ajax.reload();
        })
        .catch(function (error) {
            if (error.response) {
                alert('Error al editar el usuario: ' + error.response.data.detail);
            } else {
                alert('Error al editar el usuario: ' + error.message);
            }
        });
    });


  });


  $('#userForm').on('submit', function (e) {
    e.preventDefault();
    const formData = new FormData(this);

    axios
      .post('/api/v1/users/', formData, {
        headers: { 'Content-Type': 'multipart/form-data' },
      })
      .then((response) => {
        $('#createModal').modal('hide');
        usersTable.row.add(response.data).draw();
        this.reset();
      })
      .catch((error) => console.error('Error al crear el usuario:', error));
  });

  function cargarGrupos() {
    axios.get(`/api/v1/groups/`)
      .then(response => {
        const grupos = response.data;
        const $selectElement = $('#select_group');
        $selectElement.empty();
        grupos.unshift({ id: 0, text: '------' });
        $selectElement.select2({
          width: "100%",
          placeholder: 'Seleccione un Grupo',
          data: grupos,
        });
      })
      .catch(error => console.error("Error al cargar los grupos:", error));
  }


  cargarGrupos();

  async function llenarModal(userId) {
    try {
      const response = await axios.get(`/api/v1/users/${userId}/`);
      const user = response.data;

      $('#id_name.form-control').val(user.name);
      $('#id_lastname.form-control').val(user.lastname);
      $('#id_email.form-control').val(user.email);
      $('#id_phone.form-control').val(user.phone);
      $('#avatarPreview.form-control').attr('src', user.avatar || '{% static "sb-admin/img/undraw_profile.svg" %}');
      cargarGrupos();
      $('#select_group.form-control').val(user.groups[0] || 0).trigger('change');
    } catch (error) {
      console.error('Error al obtener los datos del usuario:', error);
    }
  }






  /*
  $('#usersTable').on('click', '.edit-btn', function () {
    const userId = $(this).data('user-id');
    $('#editModal').data('user-id', userId);
    llenarModal(userId).then(() => {
      $('#editModal').modal('show');
    });
  });

  $('#saveChangesButton').on('click', function () {
    const userId = $('#editModal').data('user-id');
    const updatedUser = {
      name: $('#id_name.form-control').val(),
      lastname: $('#id_lastname.form-control').val(),
      email: $('#id_email.form-control').val(),
      phone: $('#id_phone.form-control').val(),
      groups: $('#select_group.form-control').val(),
    };
    console.log(updatedUser)
    
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    try {
      const response =  axios.put(`/api/v1/users/${userId}/`, updatedUser, {
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken,
        },
      });

      console.log('Usuario actualizado con éxito:', response.data);
    } catch (error) {
      console.error('Error al actualizar el usuario:', error);
    }
  
  });*/


  // Abre el modal de eliminación y configura el `data-id` en el botón de confirmación
  $('#usersTable').on('click', '.btn-danger', function () {
    const userId = $(this).data('user-id');
    $('#confirmChangeStatus').data('user-id', userId); // Cambia `data-id` a `data-task-id`
  });

  // Manejo del evento para confirmar el cambio de estado (eliminar o desactivar tarea)
  $('#confirmChangeStatus').on('click', async function () {
    const userId = $(this).data('user-id');  // Usa `data-task-id` aquí
    if (userId) {
      try {
        const response = await axios.get(`/api/v1/users/${userId}/`);
        const user = response.data;

        // Cambia el estado de `enabled` de la tarea
        user.enabled = !user.enabled;

        await axios.patch(`/api/v1/users/${userId}/`, { enabled: user.enabled }, {
          headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
          }
        });

        hideModalDelete()


      } catch (error) {
        console.error('Error al actualizar el estado del usuario:', error);
      }
    }
  });

  // Abre el modal de reactivación y configura el `data-id` en el botón de confirmación
  $('#usersTable').on('click', '.btn-success', function () {
    const userId = $(this).data('user-id');
    $('#confirmReactivateStatus').data('user-id', userId); // Cambia `data-id` a `data-task-id`
  });

  // Manejo del evento para confirmar la reactivación del estado (activar tarea)
  $('#confirmReactivateStatus').on('click', async function () {
    const userId = $(this).data('user-id');  // Usa `data-task-id` aquí
    if (userId) {
      try {
        const response = await axios.get(`/api/v1/users/${userId}/`);
        const user = response.data;

        // Cambia el estado de `enabled` de la tarea a true
        user.enabled = true;

        await axios.patch(`/api/v1/users/${userId}/`, { enabled: user.enabled }, {
          headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
          }
        });

        hideModalReactivate() // Cambia este nombre según el método que uses para ocultar el modal de reactivación
      } catch (error) {
        console.error('Error al reactivar el estado del usuario:', error);
      }
    }
  });
</script>

{% endblock %}