{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<div class="container">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800 text-center">Cambiar Contraseña</h1>

    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Formulario de cambio de contraseña -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <!-- Mostrar errores generales del formulario -->
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}

                        <!-- Campo de la contraseña actual -->
                        <div class="form-group">
                            <label for="{{ form.old_password.id_for_label }}">Contraseña Actual</label>
                            {{ form.old_password|add_class:"form-control" }} <!-- Agregar la clase de Bootstrap -->
                            {% if form.old_password.errors %}
                                <div class="text-danger">
                                    {{ form.old_password.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Campo de la nueva contraseña -->
                        <div class="form-group">
                            <label for="{{ form.new_password1.id_for_label }}">Nueva Contraseña</label>
                            {{ form.new_password1|add_class:"form-control" }}
                            {% if form.new_password1.errors %}
                                <div class="text-danger">
                                    {{ form.new_password1.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Confirmación de la nueva contraseña -->
                        <div class="form-group">
                            <label for="{{ form.new_password2.id_for_label }}">Confirmar Nueva Contraseña</label>
                            {{ form.new_password2|add_class:"form-control" }}
                            {% if form.new_password2.errors %}
                                <div class="text-danger">
                                    {{ form.new_password2.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <!-- Botón de envío -->
                        <button type="submit" class="btn btn-primary btn-block">
                            Cambiar Contraseña
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
