{% load static %}

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        {% if user.is_authenticated %}
  <!-- Topbar -->


    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.name_short }}</span>
                <img class="img-profile rounded-circle" src="{% if user.photo.url %}{% static user.photo.url %}{% else %}{% static 'sb_admin_2/img/undraw_profile.svg' %}{% endif %}">
            </a>
            <!-- Dropdown - User Information -->
    <!-- Dropdown - User Information -->
<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    <a class="dropdown-item" href="{% url 'profile' %}">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        Perfil
    </a>
    <a class="dropdown-item" href="{% url 'change_password' %}">
        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
        Configuración
    </a>
    <div class="dropdown-divider"></div>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="dropdown-item text-danger">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
            Cerrar Sesión
        </button>
    </form>
</div>

        </li>
    </ul>

<!-- End of Topbar -->
        {% else %}
            <li class="nav-item">
                <a href="{% url 'login' %}" class="btn btn-primary mr-2">
                    <i class="fas fa-sign-in-alt"></i> Iniciar sesión
                </a>
                <a href="{% url 'register' %}" class="btn btn-secondary">
                    <i class="fas fa-user-plus"></i> Registrar
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
<!-- End of Topbar -->
