{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Tareas{% endblock %}




{% block content %}
<a href="{% url 'task_create' %}" class="btn btn-primary mb-3">Crear Nueva Tarea</a>
<div class="container">
    <h1>Lista de Tareas</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha de Creación</th>
                <th>Última Actualización</th>
                <th>Completado</th>  <!-- Nueva columna para el estado de completado -->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.created_at|date:"Y-m-d H:i:s" }}</td>  <!-- Formato de fecha y hora -->
                <td>{{ task.updated_at|date:"Y-m-d H:i:s" }}</td>  <!-- Formato de fecha y hora -->
                <td>
                    {% if task.completed %}
                        <span class="badge bg-success">Completado</span>  <!-- Estilo si está completada -->
                    {% else %}
                        <span class="badge bg-danger">No Completado</span>  <!-- Estilo si no está completada -->
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'task_edit' task.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
