{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Tareas{% endblock %}

{% block content %}
{% if "tasks.add_task" in permisos %}
<a href="{% url 'task_create' %}" class="btn btn-primary mb-3">Crear Nueva Tarea</a>
{% endif %}
<div class="container">
    <h1>Lista de Tareas</h1>{{permisos}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha de Creación</th>
                <th>Última Actualización</th>
                <th>Completado</th>
                <th>Duración</th>  <!-- Nueva columna para la duración -->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>
                    <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>  <!-- Enlace en el título de la tarea -->
                </td>
                <td>{{ task.description }}</td>
                <td>{{ task.created_at|date:"Y-m-d H:i:s" }}</td>
                <td>{{ task.updated_at|date:"Y-m-d H:i:s" }}</td>
                <td>
                    {% if task.completed %}
                        <span class="badge bg-success">Completado</span>
                    {% else %}
                        <span class="badge bg-danger">No Completado</span>
                    {% endif %}
                </td>
                <td>
                    {{ task.formatted_duration }}
                </td>

                <td>
                    {% if "tasks.change_task" in permisos %}
                    <a href="{% url 'task_edit' task.id %}" class="btn btn-warning">Editar</a>
                    {%endif%}
                    {% if "tasks.delete_task" in permisos %}
                    <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">Eliminar</a>
                    {%endif%}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
