{% extends 'base.html' %}
{% load static %}

{% block title %}Eliminar Cliente{% endblock %}

{% block content %}
<div class="container">
    <h1 class="h3 mb-4 text-gray-800">Eliminar Cliente</h1>
    <p>¿Estás seguro de que deseas eliminar a {{ customer.name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'customer_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
