{% extends 'base.html' %}
{% block title %}Detalles de la Tarea{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ task.title }}</h1>
    <p><strong>Descripción:</strong> {{ task.description }}</p>
    <p><strong>Fecha de Creación:</strong> {{ task.created_at|date:"Y-m-d H:i:s" }}</p>
    <p><strong>Última Actualización:</strong> {{ task.updated_at|date:"Y-m-d H:i:s" }}</p>
    <p><strong>Completado:</strong> {{ task.completed|yesno:"Sí,No" }}</p>
    {% if "tasks.change_task" in permisos %}
    <a href="{% url 'task_edit' task.id %}" class="btn btn-warning">Editar</a>
    {%endif%}
    {% if "tasks.delete_task" in permisos %}
    <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">Eliminar</a>
    {%endif%}
    <a href="{% url 'task_list' %}" class="btn btn-secondary">Volver a la lista</a>
</div>
{% endblock %}
