ç{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger">Confirmación de Eliminación</h6>
        </div>
        <div class="card-body">
            <p>¿Estás seguro de que deseas eliminar al usuario <strong>{{ user.name }} {{ user.lastname }}</strong>?</p>
            <form method="POST">
                {% csrf_token %}
                <a href="{% url 'user_list' %}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
